# Next.js / Vercel
.next/
out/
node_modules/
.vercel
.env*.local
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Production builds
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Runtime data
pids
*.pid
*.seed
*.pid.lock